*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
/* =============================================COMMON======================================================== */
/* =============================================COMMON======================================================== */
/* =============================================COMMON======================================================== */
a{
    text-decoration: none;
}
/* ===========MAIN CONTENT=========== */
.box{
    width: 1170px;
    max-width: calc(100%-48px);
    margin-left:auto;
    margin-right: auto;
}
/* ============LINE CLAMP============ */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1 );
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2 );
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3 );
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-4 {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 4 );
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* =======HEADING======== */
.heading-62px{
    color: #0D1111;
    font-size: 62px;
    font-weight: 700;
    line-height: 72px; /* 116.129% */    
}
.heading-12px{
    color: #767E7E;
    font-size: 12px;
    font-weight: 700;
}
.heading-18px{
    color: #2E2E2E;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.heading-20px{
    color: #0D1111;
    font-size: 20px;
    font-weight: 600;
}
.heading-22px{
    color: #0D1111;
    font-size: 22px;
    font-weight: 700;
}
.heading-42px{
    color: #0D1111;
    font-size: 42px;
    font-weight: 700;
}
/* =======DOCUMENT======== */

.document-14px{
    color: #767E7E;
    font-size: 14px;
    font-weight: 400;
}
.document-16px{
    color: #767E7E;
    font-weight: 400;
}
.document-18px{
    color: #9DA6A5;
    font-size: 18px;
    font-weight: 400;
}
.document-32px{
    color: #5D6564;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px; /* 150% */    
}
.document-logo{
    font-weight: 700;
    font-style: italic;
    color: #192122;
}
/* ==========BTN========== */
.btn:hover{
    opacity: 0.8;
}
.btn-get-start{
    background-color: #fff;
    width: 186px;
    height: 68px;
    cursor: pointer;
    border: 1px solid #1EBFC1;
    border-radius: 6px;
    color: #1EBFC1;
    font-size: 18px;
    font-weight: 600;
}
.btn-get-start:hover{
    background-color: #1EBFC1;
    color: #fff;
}
/* =============================================HEADER======================================================== */
/* =============================================HEADER======================================================== */
/* =============================================HEADER======================================================== */
.header{
    position: sticky;/* tao thanh tren khi cuon xuong */
    top: -15px;
    z-index: 1;
    background-color: #fff;
}
.header .left-header{
    display: flex;
    align-items: center;
}
.header .menu-header{
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 10px;

}
.header .left-header .logo{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 6px;
}



.header .center-header {
    margin-top: auto;
    margin-bottom: auto;
}
.header .center-header a{
    color: #2F3A3B;
    margin-right: 39px;
    margin-top: auto;
    margin-bottom: auto;
    
}
.header .center-header a:last-child{
    margin-right: 0px;
}

.header .center-header a:hover{
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor; 
}

.header .right-header{
    margin-top: auto;
    margin-bottom: auto;
}
.header .right-header .sign-in{
    color: #2F3A3B;
    margin-right: 24px;
}
.header .right-header .btn{
    background-color: #fff;
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    cursor: pointer;
    color: #1EBFC1;
    font-weight: 700;
}
.header .right-header .btn:hover{
    background-color: #1EBFC1;
    color: #fff;
}


/* =============================================HERO======================================================== */
/* =============================================HERO======================================================== */
/* =============================================HERO======================================================== */
.hero .in-hero{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}
/* ============================LEFT HERO=========================== */
.hero .in-hero .left-hero{
    width: 40%;
}
.hero .left-hero .heading-62px{
    margin-top: 18px;
    margin-bottom: 46px;
}
.hero .left-hero .document-14px{
    margin-top: 93px;
}
.hero .left-hero .document-18px{
    width: 360px;
}
.hero .left-hero .btn-get-start{
    margin-top: 52px;
    margin-right: 50px;
}
.hero .left-hero .play{
    border-radius: 50%;
    width: 62px;
    height: 62px;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #fff ;
    background-color: #fff;
    cursor: pointer;
}
.hero .left-hero .play:hover{
    background-color: #e7eceb;
}
/* ============================RIGHT HERO=========================== */
.hero .right-hero{
    position: relative;
}
.hero .right-hero .img{
    background-color: #cff7f794;
}
.hero .right-hero .on-img{
    border-radius: 24px;
    background: #FEFEFD;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.hero .right-hero .on-img-1{
    width: 157px;
    height: 75px;
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
    right: 459px;
    top: 149px;
}
.hero .on-img-1 .line-book{
    width: 28px;
    height: 4px;
    border-radius:16px;
    background-color: #ffffff;
}
.hero .right-hero .book{
    position: relative;
    margin-left: 25px;
}

.hero .right-hero .line-book{
    position: absolute;
    left: 4px;
    top: 28px;
}
/* ======================== */
.hero .right-hero .on-img-2{
    width: 124px;
    height: 132px;    
    display: flex;
    text-align: center;
    border-radius: 24px;
    background: #FFF;
    position: absolute;
    right: 517px;
    top: 453px;
}
.hero .right-hero .line{
    width: 74px;
    height: 6px; 
    margin-top: 12px;
}
.hero .right-hero .schedules p{
    margin-top: 16px;
    margin-bottom: 4px;
}
/* ========================= */
.hero .on-img-3{
    width: 207px;
    height: 90px; 
    border-radius: 24px;
    background: #FEFEFD;
    position: absolute;
    top: 500px;
    left: 324px;
}
.hero .on-img-3 .list-avatar{
    display: flex;
}
.hero .on-img-3 .oas{
    margin-left: 35px;
}
.hero .on-img-3 .avatar{
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -10px;
}
.hero .on-img-3 .avatar:first-child{
    margin-left: 0;
}
.hero .on-img-3 h4{
    color: #0D1111;
    font-size: 10px;
    font-weight: 500;
    margin-top: 17px;
    margin-bottom: 8px;

}
.hero .on-img-3 p{
    color: #FFF;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    margin-top: 11px;
}
.hero .on-img-3 .ten-k{
    background-color: #1EBFC1;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -10px;
}
/* =======================================FEATURE========================================= */
/* =======================================FEATURE========================================= */
/* =======================================FEATURE========================================= */
.feature{
    margin-top: 130px;
    width: 1024px;
}
.feature .top-feature{
    width: 590px;
}
.feature .top-feature .heading-42px{
    margin: 18px 0px;
}
.feature .top-feature .document-18px{
    line-height: 32px; /* 177.778% */
}
/*====================*/
.feature .bottom-feature{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.feature .bottom-feature .heading-20px{
    margin: 26px 0px 16px;
}
.document-ft{
    width: 223px;
    color: #9DA6A5;
    font-family: Poppins;
    font-weight: 400;
    line-height: 27px; /* 168.75% */    
}
/* =======================================COURSES========================================= */
/* =======================================COURSES========================================= */
/* =======================================COURSES========================================= */
.courses .top-courses{
    margin-top: 130px;
    margin-bottom: 79px;
}
.courses .top-courses .heading-42px{
    margin:18px 0px 19px ;
}
.courses .top-courses .content-courses{
    display: flex;
    justify-content: space-between;

}
.courses .content-courses a{
    color: #1EBFC1;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* text-decoration-line: underline;     */
    text-decoration:underline ;
    height: 22px;
} 
.courses .top-courses .document-18px{
    width: 525px;
    line-height: 32px; /* 177.778% */
}

/* ========================*/
.courses .bottom-courses{
    display: flex;
    gap: 47px;
}
.courses .item-courses {
    position: relative;
}
.courses .bottom-courses .info-courses{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    width: 325px;
    height: 195px;
    position: absolute;
    left: 17px;
    top: 322px;
}
.courses .bottom-courses .in-info-courses{
    margin-left: 25px;
    display: inline-block;
}
.courses .bottom-courses .heading-22px{
    margin-top: 18px;
    margin-bottom: 16px;
}
.courses .bottom-courses .document-14px{
    margin-top: 6px;
    margin-bottom: 18px;
    color: #9DA6A5;
}
.courses .bottom-courses .class-time{
    display: flex;
    gap: 10px;
}
.courses .dot{
    background-color: #1EBFC1;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-top: 10px;
}
/*  =======================================COUNTDOWN=========================================
    =======================================COUNTDOWN========================================= 
    =======================================COUNTDOWN========================================= */
.countdown{
    width: 862px;
    margin-top: 389px;
    display: flex;
    margin-left: 154px;
    margin-bottom: 265px;
    justify-content: space-between;
}
.countdown .heading-62px{
    margin-bottom: 11px;
}

/*  =======================================TESTIMONIAL=========================================
    =======================================TESTIMONIAL========================================= 
    =======================================TESTIMONIAL========================================= */
.testimonial{
    display: flex;
}
.testimonial .left-testimonial{
    width: 36%;
}
.testimonial .left-testimonial .comma{
    margin: 37px 0px 2px;
    width: 36px;
    height: 29px;
}
.testimonial .left-testimonial strong{
    color: #070707;
    font-weight: 500;
    
}
.testimonial .left-testimonial .document-16px{
    margin: 33px 0px 52px ;
}
.testimonial .btn-arrow {
    gap: 30px;
    display: flex;
}
.testimonial .btn-arrow .arrow{
    width: 50px;
    height: 50px;
    background-color: #09eedb6e;
    text-align: center;
    border-radius: 50%;    
    border: 1px solid #1EBFC1;
}
.testimonial .btn-arrow .arrow:hover{
    cursor: pointer;
    background-color: #1EBFC1;
}
.testimonial .btn-arrow img{
    margin-top: 18px;
    
}
/*==============================*/
.testimonial .right-testimonial{
    position: relative;
}
.testimonial .right-testimonial img{
    position: absolute;
    border-radius: 50%;
}
.testimonial .right-testimonial .img-00{
    top: 0;
    left: 216px;
    background-color: #1EBFC1;
}
.testimonial .right-testimonial .img-01{
    bottom: 29px;
    left: 641px;
    background-color: #B1DFDC;
}
.testimonial .right-testimonial .img-02
{
    background-color: #FF947A;
    left: 284px;
    top: 403px;
}
.testimonial .right-testimonial .img-03{
    left: 72px;
    top: 258px;
    background-color: #FFC147;
}
.testimonial .right-testimonial .img-04{
    background-color: #FF8282;
    left:345px ;
    top: 107px;
}
.testimonial .right-testimonial .img-05{
    top: 19px;
    background-color: #BF83FF;
    left: 641px;
}
/* <!-- =======================================BASE========================================= -->
<!--    =======================================BASE========================================= --> */
.cta{
    background: #DEF6F5;
    margin-top: 130px;
}
.cta .in-cta{
    display: flex;
    gap: 410px;
    align-items: center;
    height: 272px;  
}

.cta .document-18px{
    margin-top: 18px;
}

/* <!-- =======================================FOOTER========================================= -->
<!--    =======================================FOOTER========================================= --> */
.footer .in-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 131px;
}

.footer .logo-ft{
    display: flex;
    align-items: center;
}
.footer .logo-ft img{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-right: 6px;
}
.footer .heading-18px{
    color: #2E2E2E;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}
.footer a:last-child{
    margin-bottom: 0;
}
.footer .social a{
    margin-bottom: 18px;
    margin-top: 2px;
}
.footer a{
    display:block;
    margin-bottom: 18px;
    color: #535353;
}
.footer .social-icon{
    display: flex;
}
.footer .icon{
    width: 20px;
    height: 20px;
}
.footer .document-16px{
    height: 20px;
    color: #535353;
    font-size: 16px;
    font-weight: 400;  
}
.footer .end{
    color: #B0B5B4;
    font-size: 18px;
    font-weight: 400;
    margin: 80px 343px;
    padding-bottom: 50px;
}